@model RamenCo.Models.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ürün Sil</h1>

<h5 style="color:red">Bu ürünü silmek istediğinizden emin misiniz?</h5>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Ürün Başlığı :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Ürün Açıklaması :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Ürün Fiyatı :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt class="col-sm-2">
            Ana Sayfa Paylaşım Durumu :
        </dt>
        <dd class="col-sm-10">
            @if (Model.IsHome)
            {
                <label class="btn btn-success btn-sm"><i class="bi bi-bag-check"></i> Yayında</label>
            }
            else
            {
                <label class="btn btn-danger btn-sm"><i class="bi bi-bag-x"></i> Yayında Değil</label>
            }
        </dd>
        <dt class="col-sm-2">
            Stok Durumu :
        </dt>
        <dd class="col-sm-10">
            @if (Model.IsStock)
            {
                <label class="btn btn-success btn-sm"><i class="bi bi-bag-check"></i> Stokta Var</label>
            }
            else
            {
                <label class="btn btn-danger btn-sm"><i class="bi bi-bag-x"></i> Stokta Yok</label>
            }
        </dd>
        <dt class="col-sm-2">
            Ücretsiz kargo :
        </dt>
        <dd class="col-sm-10">
            @if (Model.IsFreeShipping)
            {
                <label class="btn btn-success btn-sm"><i class="bi bi-bag-check"></i>Ücretsiz</label>
            }
            else
            {
                <label class="btn btn-danger btn-sm"><i class="bi bi-bag-x"></i>Ücretli</label>
            }
        </dd>
        <dt class="col-sm-2">
            Hemen kargo :
        </dt>
        <dd class="col-sm-10">
            @if (Model.IsImmediateDelivery)
            {
                <label class="btn btn-success btn-sm"><i class="bi bi-bag-check"></i>Hemen</label>
            }
            else
            {
                <label class="btn btn-danger btn-sm"><i class="bi bi-bag-x"></i>48 Saat</label>
            }
        </dd>
        <dt class="col-sm-2">
            Kategori :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            Ürün Görseli :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
    </dl>
    <div class="col-md-4">

        @if (Model.Image == null)
        {
            <img src="~/images/image/GörselHazırlanıyor.png" width="200" height="180" />
        }
        else
        {
            <img src="@Model.Image" width="200" height="180" />
        }
    </div>

    <form asp-action="Delete">
        <a asp-action="Index" class="btn btn-outline-dark" style="margin-right:100px">Ürün Listesi</a>
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Sil" class="btn btn-outline-danger" />

    </form>

</div>
