@model IEnumerable<LoginUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="row">
    <div class="col-md-6">
        <h2 class="text-primary">Kullanıcı Listesi </h2>
    </div>
    <div class="col-md-6">
        <p>
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-outline-primary form-control"><i class="bi bi-person-circle"></i>Kullanıcı Ekle</a>
        </p>
    </div>
    
</div>
<table class="table table-striped table-bordered" id="myTable">
    <thead>
        <tr style="background-colori: cadetblue">
            <th>
                Kullanıcı Adı
            </th>
            <th>
                Kullanıcı Soyadı
            </th>
            <th>
                Kullanıcı E-mail
            </th>
            <th>
                Kullanıcı Rol
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id.ToString()" class="btn btn-outline-danger">
                        <i class="bi bi-trash3"></i>Kullanıcıyı Sil
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable(
            );
        });
    </script>
}